
<p>
    <b>@book.Title</b>
    @if (IsShow)
    {
        <button @onclick="@(()=>DeleteBook.InvokeAsync(book))">Delete</button>
    }
    
</p>
@code {
    [Parameter] public Book book { get; set; }
    [Parameter] public bool IsShow { get; set; } = false;
    [Parameter] public EventCallback<Book> DeleteBook { get; set; }
        
}
