@* @page "/Books" *@
<h3>Book List</h3>
@if (bookList != null)
{
    <Input type="checkbox" @onchange="@(()=>isShow=!isShow)"/>
    <div>
        @foreach (var book in bookList)
        {
            <BookDetails book="book" IsShow="isShow" DeleteBook="DeleteBook" />
        }
        @* @for (int i = 0; i < bookList.Count; i++)
        {
            <p><b>@(i + 1). @bookList[i].Title</b></p>
        } *@
    </div>
}
else
{
    <img src="https://loading.io/assets/mod/spinner/spinner/lg.gif" />
}

@code {
    [Parameter] public List<Book> bookList { get; set;}
    public bool isShow = false;
    private void DeleteBook(Book book)
    {
        bookList.Remove(book);
    }

    Book Books = new Book
        {
            Id = 1,
            Title = "C# Programming",
        };
}