@* @page "/Books" *@
<h3>Book List</h3>
@if (bookList != null)
{
    <Input type="checkbox" @onchange="@(()=>isShow=!isShow)"/>
    <div>
        @foreach (var book in bookList)
        {
            <BookDetails book="book" IsShow="isShow" DeleteBook="DeleteBook" />
        }
        @* @for (int i = 0; i < bookList.Count; i++)
        {
            <p><b>@(i + 1). @bookList[i].Title</b></p>
        } *@
    </div>
}
else
{
    @if (ChildContent == null)
    {
        <img src="https://cdn.pixabay.com/animation/2023/10/08/03/19/03-19-26-213_512.gif" />
    }
    else
    {
        @ChildContent
    }

}

@code {
    [Parameter] public List<Book> bookList { get; set;}
    [Parameter] public RenderFragment ChildContent { get; set; }
    public bool isShow = false;
    private void DeleteBook(Book book)
    {
        bookList.Remove(book);
    }

    Book Books = new Book
        {
            Id = 1,
            Title = "C# Programming",
        };
}