@* @page "/Books" *@
<h3>Book List</h3>
@if (bookList != null)
{
    <div>
        @foreach (var book in bookList)
        {
            <p><b>@book.Title</b></p>
        }
        @* @for (int i = 0; i < bookList.Count; i++)
        {
            <p><b>@(i + 1). @bookList[i].Title</b></p>
        } *@
    </div>
}
else
{
    <img src="https://loading.io/assets/mod/spinner/spinner/lg.gif" />
}

@code {
    [Parameter] public List<Book> bookList { get; set;}
    Book Books = new Book
        {
            Id = 1,
            Title = "C# Programming",
        };
}